(
    package_type: IconTheme,
    id: "freecad-classic",
    name: "FreeCAD Classic",
    version: "1.0.0",
    author: "FreeCAD Project & Community",
    license: "LGPL-2.1-or-later",
    description: "Classic full-color vector icons from FreeCAD",
    translations: {
        "ru": (
            name: "FreeCAD: классические иконки",
            description: "Классические цветные векторные иконки из FreeCAD",
        ),
    },
    color_mode: Universal,
)
